.u-border  {

  &_default{
    &-b {
      border-bottom: 1px solid var(--f-color-gry60);
    }
    &-t {
      border-top: 1px solid var(--f-color-gry60);
    }

    &-vt {
      border-top: 1px solid var(--f-color-gry60);
      border-bottom: 1px solid var(--f-color-gry60);
    }
  }
}


.u-border_group {
  &-default {
    &-b > * {
      border-bottom: 1px solid var(--f-color-gry60);
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &-t > * {
    border-top: 1px solid var(--f-color-gry60);
    &:first-child {
      border-bottom: none;
    }
  }
}
